<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/layui.css">
    <script src="/js/layui.js"></script>
</head>
<body>
<form class="layui-form" action="/ParkingDetails" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">序号</label>
        <div class="layui-input-block">
            <input type="text" name="id" required  lay-verify="required" autocomplete="off" class="layui-input" readonly="readonly" th:value="${customer.id}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="name" required  lay-verify="required" autocomplete="off" class="layui-input" th:value="${customer.name}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-block">
            <input type="text" name="tel" required  lay-verify="required" placeholder="浙X XXXXX" autocomplete="off" class="layui-input" th:value="${customer.tel}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">车牌号</label>
        <div class="layui-input-block">
            <input type="text" name="licensePlate" required  lay-verify="required" placeholder="浙X XXXXX" autocomplete="off" class="layui-input" th:value="${customer.licensePlate}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">车辆位置</label>
        <div class="layui-input-block">
            <input type="text" name="local" required  lay-verify="required" placeholder="A00" autocomplete="off" class="layui-input" th:value="${local.local}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">车辆说明</label>
        <div class="layui-input-block">
            <input type="text" name="illustrate" required  lay-verify="required" placeholder="备注" autocomplete="off" class="layui-input" th:value="${local.illustrate}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <select name="extra" lay-verify="required" th:value="${customer.extra}">
                <option value="外来人员">外来人员</option>
                <option value="小区住户">小区住户</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">返回上一页</button>
        </div>
    </div>
</form>
</body>
</html>